body{
  position: relative;
  background-image:linear-gradient(
        rgb(245, 245, 245), 
        rgba(245, 245, 245  , .9)
      ), url(./photos/bg-school.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: rgb(180, 0, 0);
}
.pup-logo img{
    height: 70px;
}
#error{
    width: 350px;
    background-color: rgb(240, 93, 93);
    border-radius: 5px  ;
}
span{
    display: block;
}

.form-container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

form{
    padding: 10px;
}

input{
    height: 50px;
    width: 300px;
    padding: 5px;
    border: none;
    outline: none;
}

form button{
    margin: 10px;
    width: 300px;
}


